
<div class="container">
    <table class="table  table-striped" @fade>
      <thead class="thead"  >
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Email</th>    
          <th scope="col">numero affiliation</th>  
          <th scope="col">type de problème</th>
          <th scope="col">type de contrat</th>
          <th scope="col">commentaire</th>  
          <th scope="col" colspan="2"> ACTIONS </th>
        </tr>
      </thead>
      <tbody class="tbody">    
       <tr >
          
          <td>1</td>         
          <td>yasmine.becheikh@gmail.com</td>  
          <td>85645598</td>
          <td>salariés</td>
          <td>CIVP</td>
          <td>  manque de détail pour le salarié 10814258 et date debut erroné</td>
  
          
         <td > <a  (click)="open(content)" ><span class="icon2"> <i class="fas fa-trash-alt" aria-hidden="true"></i>
          </span></a>
            </td>         
         
       
  
            <!--<td>
                 <div *ngIf="histotable.boo_creation_dosser !== 1 "> 
                 <button disabled class="btn btn-success"> créer les dossiers d'avantage </button>                                   
                </div>
              </td>       -->
         </tr>   
      </tbody>   
    </table>
  
    
    <div>
      <ng-template #content let-modal>
        <div class="modal-header" style="background-color:#191919 ;border-bottom-color:#3498db;">
          <h4 class="modal-title" id="modal-basic-title" style="color: white;">Confirmation</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" style="color: white;">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>supprimer le message : ID 1  </p>
        </div>
          <div class="modal-footer">
            
           
            <button type="button"  (click)="modal.dismiss('Cross click')" class="btn btn-secondary">Annuler</button>
            <button (click)="modal.close('Save click')"  type="button" name="" class="btn btn-primary" >supprimer</button>

          </div>
       
       
  
       
      </ng-template>
  
    </div>
  </div>