

div.head{
    font-size: 25px;
    text-transform: uppercase;
    font-weight:500px;
    font-family:"OpenSans-Semibold",sans-serif ;
    vertical-align: middle;
    line-height: 50px;   
    
  
}

.thead{
  border: 2px solid black ;
  /*background-color: #008B8B;*/
  background: linear-gradient(to right, #11998e, #56b4d3);
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-family:"OpenSans-Semibold",sans-serif ;
}
tbody td,.thead th{
  border: 1px solid black;
  text-align: center;
}
.table{
   border: 2px solid black ; 
}

form div{
  width: 250px;
  margin:auto;
}
mat-drawer-container{
min-height: 400px;

}

form div input,select{
  background-color:  #34495e;
  color: white;
  margin-top: 15px;
}

form button{
  margin-left: 60%;
  margin-top: 10%;

}
.cross {
    color: red;

}
.check{
    color:#00ff00;
}
form{
    
    padding-bottom: 15px;
   
}
.select-table
{
margin: 20px;
display: block;
}
.select-table button {
    margin-bottom: 10px;
    
}

.ticker {
  display: flex;
  flex-wrap: wrap;
  
  height: 5px;
  margin: 5px auto;
  
}
.news {
  width: 85%;
  background: dodgerblue;
  padding: 0 2%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.title {
  width: 15%;
  text-align: center;
  background: rgb(22, 121, 219);
  position: relative;
  border-top-left-radius: 10px;
  color:white;
  border-bottom-left-radius:10px;
}
.title:after {
  position: absolute;
  content: "";
  right: -28%;
  border-left: 28px solid rgb(22, 121, 219);
  border-top: 16px solid transparent;
  border-right: 20px solid transparent;
  border-bottom:16px solid transparent;
  top: 0;
}
.title h5 {
  font-size: 15px;
  margin: 3% 0;
}
.news marquee {
  font-size: 15px;
  color:white;
}
p{
  margin: 5px 0 5px 0;
}

  

  
 
  
 
  