.container{
  margin-top: 20px;
}
.thead{
  border: 2px solid black ;
  background-color: #008B8B;
  color: white;
  
  
}
tbody td,.thead th{
  border: 1px solid black;
  text-align: center;
}
.table{
   border: 2px solid black ; 
}

form div{
  width: 250px;
  margin:auto;
}
mat-drawer-container{
min-height: 400px;

}

form div input,select{
  background-color:  #34495e;
  color: white;
}

form button{
  margin-left: 70%;
  margin-top: 10%;

}
.cross {
    color: red;

}
.check{
    color:#00ff00;
}
form{
    
    padding-bottom: 15px;
   
}
.select-table
{
margin: 20px;
display: block;
}
.select-table button {
    margin-bottom: 10px;
    
}
.badge{
  border-radius: 50px;
  background: red;
  height: 20px;
  top: 50%;
  color: white;
}


  

  
 
  
 
  