<div class="container">

<div class="row"  style="margin-top:100px;" >
    <div class="col">  
        <form class="box"  >
            <h1>Employeur</h1>
            <input class="input3" type="text"  maxlength="6" size="6" name="username" id="username" placeholder="Employeur"   required>
           -<input class="input4" type="text"   maxlength="2" size="2"   name="password6" id="password6" placeholder="Cle"  required>
            <input class="input3"  type="text" maxlength="4" size="4"  name="password4" id="password4" placeholder="Année"  required>
           &nbsp;/<select type="text" 
            class="input4" 
            id="type_avantage" 
            name="type_avantage" 
            placeholder="Entre type"
            required
            >    
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
           
            </select>  
            <select style="margin-right: 110px;" type="text" 
            class="input3" 
            id="type_avantage" 
            name="type_avantage" 
            placeholder="Entre type"
            required
            >    
               <option value="KARAMA">karama</option>
               <option value="CIVP">CIVP</option>
               <option value="SCV">SCV</option>

           
            </select> 

            <button   type="submit" name="" value="Recherche">Recherche</button>


        </form>
</div>  
<div class="col">
    <form class="box" >
        <h1>paiement</h1>
        <input class="input1" type="text"  name="username" id="username" placeholder="SalDéclarés"  required>
        <input class="input1" type="text"  name="password" id="password" placeholder="Taux" required>
        <input class="input1" type="text"  name="password1" id="password1" placeholder="Montants à Payer"  required>
        <h5>Pénalités </h5>
        <div class="boxed"> 
      
        <input class="input3"  type="text"  name="password2" id="password2" placeholder="nombre de jour"  required>
        <input class="input3"  type="text"  name="password2" id="password2" placeholder="Montant"  required>
    </div>
      <input class="input2"  type="text"  name="password3" id="password3" placeholder="Total à Payer"  required>

    </form>
      
</div>
</div>
<div class="row">
    <div class="col-md-12">
    <form class="box2" >
        <h1>Employés</h1>
        <table class="table table-striped">
            <thead class="thead"  >
              <tr>
                <th scope="col">#ID</th>
                <th scope="col">Agent</th>
                <th scope="col">Type Contrat</th>       
                <th scope="col">Import Locale</th>
                <th scope="col">Date Import</th>    
                <th scope="col">Creation Dossier</th>  
                <th scope="col"> Action </th>
              </tr>
            </thead>
            <tbody>    
             <tr  >
                
                <td>a</td>         
                <td>a</td>  
                <td>a</td>  
                <td>a</td>  
                <td>a</td> 
                <td>a</td>  
      
                
              
                <td> <button  class="btn btn-success"> créer les dossiers avantage</button> </td>         
               
           
      
               
      
                  <!--<td>
                       <div *ngIf="histotable.boo_creation_dosser !== 1 "> 
                       <button disabled class="btn btn-success"> créer les dossiers d'avantage </button>                                   
                      </div>
                    </td>       -->
               </tr>   
            </tbody>   
          </table>
    </form>
</div>
</div>
</div>  