.thead th{
  border: 1px solid black;
}
.boxed{
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 15px;
    padding-right: 0px;
    text-align: left;
    width: 70%;

}
h5{
    color: black;
    
    font-weight: 500;
    font-size: 18px;
    margin-right: 70%;
    margin-top: 5px;
    
}
.box2{
    width: 100%;
   
    padding: 10px;
    position: relative;
    
 
    background:white;
    margin-top: 60px;
    text-align:center;
    
    /*   box-shadow: 2px 5px 8px 5px ;*/
   /* box-shadow: 2px 5px 10px 2px ;*/
  } 
  .box1{
    width: 99%;
    height: 290px;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    /*background:whitesmoke;*/
   
    margin: 0px auto;
    text-align:center;
    /*   box-shadow: 2px 5px 8px 5px ;*/
    box-shadow: 2px 2px 10px  ;
  } 
  .box1 .input4{
    border:0;
    background:white;
    display: inline;
    /*margin: 20px 0;*/
    margin-left: 10px;
    margin-right: 50px;
    text-align: center;
    border: 1px solid grey;
    padding: 10px 10px;
    width: 10%;
    outline: none;
    color:black;
    border-radius: 5px;
    transition: 0.25s;
   
  }

  .box1 .input3{
    border:0;
    background: white;
    display: inline;
    text-align: center;
    border: 1px solid grey;
    padding: 10px 10px;
    width: 20%;
    outline: none;
    color:black;
    border-radius: 5px;
    transition: 0.25s;
   
  }

.box{
    width: 99%;
    height: 510px;
    padding: 40px;
    position: relative;
    margin: auto;
   /* background:whitesmoke;*/
   border-radius: 20px;
    text-align:center;
    /*   box-shadow: 2px 5px 8px 5px ;*/
    box-shadow: 2px 2px 10px  ;
  } 
  h2{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: "Times New Roman", Times, serif;
   
  }
  .box .input4{
    border:0;
    background:white;
    display: inline;
    margin: 20px 0;
    margin-left: 10px;
    text-align: center;
    border: 1px solid grey;
    padding: 10px 10px;
    width: 20%;
    outline: none;
    color:black;
    border-radius: 5px;
    transition: 0.25s;
   
  }

  .box .input3{
    border:0;
    background: white;
    display: inline;
    margin: 20px 0;
    margin-left: 10px;
    text-align: center;
    border: 1px solid grey;
    padding: 10px 10px;
    width: 45%;
    outline: none;
    color:black;
    border-radius: 5px;
    transition: 0.25s;
   
  }

  .box .input2{
    border:0;
    background: white;
    display: inline;
    margin: 30px auto;
    margin-left: 70%;
    text-align: center;
    border: 1px solid grey;
    padding: 10px 10px;
    width: 30%;
    outline: none;
    color:black;
    border-radius: 5px;
    transition: 0.25s;
   
  }

  .box .input1{
    border:0;
    background: white;
    display: inline;
    margin: 20px auto;
    margin-left: 3%;
    text-align: center;
    border: 1px solid;
    padding: 10px 10px;
    width: 30%;
    outline: none;
    color:black;
    border-radius: 5px;
    transition: 0.25s;
   
  }
  /*.box .input1:focus,.box .input2:focus,.box .input3:focus,.box .input4:focus{
   /* width: 300px;*/
    /*border-color: #2ecc71;*/
  /*}*/
  .box1 input:focus,.box input:focus{
      border-color:#2ecc71 ;
      border-width: 1.5px;
  }
  
  .box1 button[type = "submit"]{
    border:0;
   
    background: #2ecc71;
    display: inline;
    margin: 30px auto;
    text-align:center;
    border: 2px solid #2ecc71;
    padding: 8px 40px;
    outline: none;
    color: black;
    border-radius: 10px;
    margin-left: 80%;
    transition: 0.25s;
    cursor: pointer;
    box-shadow: 1px 2px 3px black;
    width: 150px;
  }
  .box1 button[type = "submit"]:hover{
    /*background: #1bac58;*/
    background: #3ce482;
    border-color: #1bac58;
    box-shadow: 1px 3px 3px  black;
    
    transform: translateY(-0.20em);
  }

  .box button[type = "submit"]{
    border:0;
    background: #2ecc71;
    display: inline;
    
    margin-left: 3%;
    text-align: center;
   
    padding: 8px 10px;
    width: 30%;
    outline: none;
    color:black;
    border-radius: 10px;
    transition: 0.25s;
    border: 2px solid #2ecc71;
    box-shadow: 1px 2px 3px  black;
  }
  .box button[type = "submit"]:hover{
    background: #3ce482;
    border-color: #1bac58;
    box-shadow: 1px 3px 3px  black;
    transform: translateY(-0.20em);
  }
  .btnbox2{
    border:0;
   
    background: #2ecc71;
    display: inline;
    margin: 30px auto;
    text-align:center;
    border: 2px solid #2ecc71;
    padding: 8px 40px;
    outline: none;
    color: black;
    border-radius: 10px;
    margin-left: 80%;
    transition: 0.25s;
    cursor: pointer;
    box-shadow: 1px 2px 3px black;
   

  }
  .btnbox2:hover{
   /* background: #1bac58;*/
   background: #3ce482;
    border-color: #1bac58;
    box-shadow: 1px 3px 3px  black;
    
    transform: translateY(-0.20em);
  }
  div.head{
    font-size: 25px;
    text-transform: uppercase;
    font-weight:500px;
    font-family:"OpenSans-Semibold",sans-serif ;
    vertical-align: middle;
    line-height: 50px;   
  
  }
  .inp-salaire{
width: 150px;
margin: auto;
padding:auto;
  }
 