div.head{
  font-size: 25px;
  text-transform: uppercase;
  font-weight:500px;
  font-family:"OpenSans-Semibold",sans-serif ;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;   
  margin-left: 30px;
}
  
  .thead2{
    font-size: 12px;
    border: 2px solid black ;
    background-color:rgb(197, 196, 196);
    color: black;
    text-transform: uppercase;
    font-family:"OpenSans-Semibold",sans-serif ;
  }
  .thead th{
    border: 1px solid black;
  }
  
.btnn{
    border:0;
    background:none ;
   
   
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 10px 10px;
    outline: none;
    color: black;
    border-radius: 15px;
    transition: 0.25s;
    cursor: pointer;
    box-shadow: 2px -2px  8px black;
    width: 150px;
}
.btnn:hover{
    background-color: #2ecc71;
}
.icon 
{   font-family:fontAwesome;
    font-size: 20px;
    color: #2ecc71;
    cursor: pointer;
}
.icon2{
    color:red;
    cursor: pointer;
}
.add{
    position: relative;
    left: 72%;
}
.search{
    width: 180px;
    transition: 0.5s;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 4px 12px;
}
.search:focus{
   width: 350px; 
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
}  
.btn{
  border:0;
 
  background:#17a2b8 ;
  display: inline;
  margin: 20px auto;
  text-align:center;
  border:0.8px solid  #17a2b8;
  padding: 6px 12px;
  outline: none;
  color: white;
  border-radius: 8px;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
  transition: 0.25s;
  cursor: pointer;
  box-shadow: 1px 2px 3px black;
 

}
.btn:hover{
 /* background: #1bac58;*/
 background: rgb(68, 161, 253);
  box-shadow: 1px 3px 3px  black;
  
  transform: translateY(-0.10em);
}