<div class="container">
  
    <table class="table table-striped">
      <thead class="thead"  >
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Agent</th>
          <th scope="col">Type Contrat</th>       
          <th scope="col">Import Locale</th>
          <th scope="col">Date Import</th>    
          <th scope="col">Creation Dossier</th>  
          <th scope="col"> Action </th>
        </tr>
      </thead>
      <tbody>    
       <tr  >
          
          <td>a</td>         
          <td>a</td>  
          <td>a</td>  
          <td>a</td>  
          <td>a</td> 
          <td>a</td>  

          
        
          <td> <button  class="btn btn-success"> créer les dossiers avantage</button> </td>         
         
     

         

            <!--<td>
                 <div *ngIf="histotable.boo_creation_dosser !== 1 "> 
                 <button disabled class="btn btn-success"> créer les dossiers d'avantage </button>                                   
                </div>
              </td>       -->
         </tr>   
      </tbody>   
    </table>
</div>