<body >
  <span class="sp">
 <h2>Suivi Avantage</h2></span>
<p class="appnamebg"></p>
  <img class="logo " src="assets/images/cnss2.png" alt="CNSS logo"  >
    <form class="box " (ngSubmit)="onSubmit()" #userForm='ngForm'>
      <h1 >Login</h1>
      <input   type="text" [(ngModel)]="user.username" name="username" id="username" placeholder="code agent"   #username="ngModel" required>
    <span *ngIf="username.touched && username.invalid" class="ic1 "><i class="fas fa-exclamation-circle"></i> </span>  
      <input  type="password" [(ngModel)]="user.password" name="password" id="password" placeholder="mot de passe" #password="ngModel" required>
      <span *ngIf="(password.touched && password.invalid) " class="ic2"><i class="fas fa-exclamation-circle"></i> </span> 
      <button [disabled]="!userForm.form.valid"   type="submit" name="bt" id="bt"   value="Login">login<i style="margin-left: 20px;" class="fas fa-arrow-right"></i></button>
      
    </form>
    <img class="flag" src="assets/images/tunisia-flag.jpg" alt="CNSS logo" >

 
</body>
