
<body>
    <nav>
      <a [routerLink]="['home']" routerLinkActive="active" >listing</a>   
      <a [routerLink]="['versioning']" routerLinkActive="active" >versioning</a>
      <a [routerLink]="['facturation']" routerLinkActive="active" >facturation</a>
      <a [routerLink]="['payment']" routerLinkActive="active" >paiement</a>
      <a [routerLink]="['charts']" routerLinkActive="active">charts</a>  
      <a href="#" >{{user}} &nbsp; &nbsp;
        <i class="fa fa-user" aria-hidden="true"></i>  
      </a>
      <div class="animation start-home"></div>
    </nav>
</body>
 