<div class="navigation c1">  
    <ul>
      <!--  <li>
            <a [routerLink]="['home']" routerLinkActive="active" >
                <span class="icon" ><i class="fa fa-user" aria-hidden="true"></i></span>
                <span class="title" > beneficiairies
              
                
                </span>
            </a>
        </li>   
        <li>
            <a [routerLink]="['versioning']" routerLinkActive="active">
                <span class="icon"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                </span>
                <span class="title"> versioning</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fa fa-credit-card" aria-hidden="true"></i>
                </span>
                <span class="title"> facturation</span>
            </a>
        </li>-->
        <li>
            <a href="#">
                <span class="icon"><i class="fa fa-cog" aria-hidden="true"></i>
                </span>
                <span class="title"> settings</span>
            </a>
        </li>  
        <li>
            <a href="#">
                <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i>
                </span>
                <span class="title"> sign out</span>
            </a>
        </li>          
    </ul>
    <div class="animation start-home"></div>
</div>
<!--<div class="toggle"  ></div>-->


