
    <nav class="animate__animated animate__backInDown animate__delay-0.5s">
      <a   [routerLink]="['agents']" routerLinkActive="active2" >agents</a>   
      <a   [routerLink]="['roles']" routerLinkActive="active2" >roles</a>
      <a  [routerLink]="['avantages']" routerLinkActive="active2" >avantages</a>
      <a  [routerLink]="['complaintes']" routerLinkActive="active2" >complaintes</a>
   <a> &nbsp;</a>
   
      <div class="animation start-home"></div>
    </nav>
<hr width="50%">
    <router-outlet ></router-outlet>
